# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Drizzle
DATABASE_URL=""

# Upstash
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

QSTASH_URL=""
QSTASH_TOKEN=""
QSTASH_CURRENT_SIGNING_KEY=""
QSTASH_NEXT_SIGNING_KEY=""

# UploadThing
UPLOADTHING_SECRET=""
UPLOADTHING_APP_ID=""

# Perplexity
DISCOVER_FEED_URL=""

# OpenAI
OPENAI_API_KEY=""

# ElevenLabs
XI_API_KEY=""
