@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: rgb(71, 71, 71);
  color: rgb(255, 255, 255);
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

.testimonials-line-top {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 1'%3E%3Crect width='1' height='1' fill='%23212126'/%3E%3C/svg%3E");
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    white 4rem,
    white calc(100% - 4rem),
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    white 4rem,
    white calc(100% - 4rem),
    transparent
  );
  margin-left: -4rem;
  margin-right: -4rem;
}

.testimonials-line-right {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 4'%3E%3Crect width='1' height='1' fill='%23212126'/%3E%3C/svg%3E");
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent,
    white 4rem,
    white calc(100% - 4rem),
    transparent
  );
  mask-image: linear-gradient(
    to bottom,
    transparent,
    white 4rem,
    white calc(100% - 4rem),
    transparent
  );
  margin-top: -4rem;
  margin-bottom: -4rem;
}

.testimonials-line-bottom {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 1'%3E%3Crect width='1' height='1' fill='%23212126'/%3E%3C/svg%3E");
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    white 4rem,
    white calc(100% - 4rem),
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    white 4rem,
    white calc(100% - 4rem),
    transparent
  );
  margin-left: -4rem;
  margin-right: -4rem;
}

.testimonials-line-left {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 4'%3E%3Crect width='1' height='1' fill='%23212126'/%3E%3C/svg%3E");
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    white 4rem,
    white calc(100% - 4rem),
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    white 4rem,
    white calc(100% - 4rem),
    transparent
  );
  margin-left: -4rem;
  margin-right: -4rem;
}
